<footer>
  <div class="container-fluid footer-container py-2">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-white mb-2">&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
      </div>
      <div class="col-12 text-center">
        <nav class="d-inline-block">
          <a routerLink="/home" class="nav-link text-white d-inline mx-3">Inicio</a>
          <span class="text-white"> | </span>
          <a routerLink="/sobre-nosotros" class="nav-link text-white d-inline mx-3">Sobre Nosotros</a>
          <span class="text-white"> | </span>
          <a routerLink="/contacto" class="nav-link text-white d-inline mx-3">Contacto</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
