<div *ngIf="apunte">
  <mat-card class="note-detail-card">
    <mat-card-header>
      <mat-card-title>{{ apunte.titulo_apunte }}</mat-card-title>
      <mat-card-subtitle class="calificacion">Calificación: {{ apunte.calificacion_apunte }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="apunte.archivo_caratula" alt="{{ apunte.titulo_apunte }}" />
    <mat-card-content>
      <p>{{ apunte.descripcion_apunte }}</p>
      <p>Fecha de Publicación: {{ apunte.fecha_hora_publicacion | date }}</p>
    </mat-card-content>

    <mat-card-actions>
      
      <button mat-button class="ml-button" color="accent" (click)="editarApunte()">Editar</button>
      <button mat-button class="ml-button" color="warn" (click)="borrarApunte()">Borrar</button>
      
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="!apunte">
  <p>Cargando detalles del apunte...</p>
</div>
