<!-- home.component.html -->
<div class="home-container">
  <div class="sidebar">
    <div *ngFor="let year of years">
      <h2 [class.expanded]="expandedYear === year" (click)="toggleYear(year)">
        Año {{ year }}
      </h2>
      <ul [class.expanded]="expandedYear === year">
        <li *ngFor="let subject of getSubjectsForYear(year)">
          <a (click)="selectSubject(subject)">{{ subject.nombre_materia }}</a>
          <div class="button-group">
            <button (click)="editSubject(subject.cod_materia)" class="edit-button">Modificar</button>
            <button (click)="confirmDelete(subject.cod_materia)" class="delete-button">Borrar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div *ngIf="selectedSubject">
      <h3>Detalles de la materia: {{ selectedSubject.nombre_materia }}</h3>
      <div *ngFor="let note of subjectNotes" class="note">
        <h4>{{ note.titulo }}</h4>
        <p>{{ note.descripcion }}</p>
      </div>
    </div>
  </div>
</div>






