<div class="home-container">
  <div class="sidebar">
    <div *ngFor="let year of years">
      <h2 [class.expanded]="expandedYear === year" (click)="toggleYear(year)">
        Año {{ year }}
      </h2>
      <ul [class.expanded]="expandedYear === year">
        <li *ngFor="let subject of getSubjectsForYear(year)">
          <a class="materia" (click)="selectSubject(subject)">{{ subject.nombre_materia }}</a>
          <div class="button-group">
            <button *ngIf="rol_usuario === 'Administrador'" (click)="editSubject(subject.cod_materia)" class="edit-button">Modificar</button>
            <button *ngIf="rol_usuario === 'Administrador'" (click)="confirmDelete(subject.cod_materia)" class="delete-button">Borrar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div *ngIf="selectedSubject">
      <h3>Apuntes De {{ selectedSubject.nombre_materia }}</h3>
      <div class="notes-container">
        <div *ngFor="let note of paginatedNotes">
          <mat-card class="note-card">
            <mat-card-header>
              <mat-card-title>{{ note.titulo_apunte }}</mat-card-title>
              <mat-card-subtitle class="calificacion">
                Calificación: {{ note.calificacion_apunte || 'Sin calificación' }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="card-content">
                <img 
                  mat-card-image 
                  [src]="note.archivo_caratula || defaultImage" 
                  alt="{{ note.titulo_apunte }}" 
                  class="card-image" 
                />
                <div class="card-details">
                  <p class="precio-resaltado">Valor: $<strong>{{ note.precio }}</strong></p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="ml-button" (click)="selectNoteDetails(note.id_apunte)">Ver detalles</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="pagination-controls">
        <button mat-button class="ml-button" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <button mat-button class="ml-button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= subjectNotes.length">Siguiente</button>
      </div>
    </div>

    <!-- Aquí va el mensaje que quieres mostrar -->
    <div class="message" *ngIf="!selectedSubject">
      Si notas un apunte inapropiado, recuerda que puedes denunciarlo enviando un mail a administración. <br />
      Mail: <a href="mailto:marketplaceapuntesa&#64;gmail.com">marketplaceapuntesa&#64;gmail.com</a>. <br />
      Recuerda que puedes encontrar toda nuestra información en la sección Contacto.
    </div>
  </div>
</div>

