<div class="reset-password-container">
    <div class="reset-password-box">
      <h2>Establecer Nueva Contraseña</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="new-password">Nueva Contraseña</label>
          <input type="password" id="new-password" name="new-password" [(ngModel)]="newPassword" required>
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirmar Contraseña</label>
          <input type="password" id="confirm-password" name="confirm-password" [(ngModel)]="confirmPassword" required>
        </div>
        <button type="submit" class="reset-password-button">Establecer Contraseña</button>
      </form>
      <div class="back-to-login">
        <a routerLink="/login">Volver al Inicio de Sesión</a>
      </div>
    </div>
  </div>
  