.comprado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .comprado-card {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
  }
  