<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sobre Nosotros</title>
</head>
<body>
    <div class="sobre-nosotros">
        <div class="titulo-container">
            <h1>Sobre Nosotros</h1>
        </div>
    </div>
    <div class="contenido">
        <div class="quienes_somos">
            <h2>¿Quiénes Somos?</h2>
            <p>
                Somos alumnos de la Facultad Regional de Rosario de la Universidad Tecnológica Nacional de Argentina, estudiando la carrera de Ingeniería de Sistemas de Información y esperando recibirnos en unos años.
            </p>
        </div>
        <div class="nuestra_mision">
            <h2>Nuestra Misión</h2>
            <p>
                Creamos esta página con la intención de facilitar el intercambio de apuntes entre alumnos de nuestra facultad, pero también es mucho más que eso.
            </p>
            <p>
                Como estudiantes, sabemos lo difícil que es la vida facultativa. Requiere de esfuerzo, dedicación y una gran capacidad para adaptarse rápidamente. Se presentan constantemente desafíos nuevos. Muchos se encuentran seguido ante la situación de enfrentar esta tarea solos.
            </p>
            <p>
                El propósito de nuestra página es ofrecerle a la gente la oportunidad de estar un poco menos solos cuando tengan que ponerse a estudiar. Aligerar el peso que es la vida facultativa. Crear un espacio donde podamos encontrar y ofrecer ayuda a compañeros y compañeras que se encuentran desamparados frente a un examen que no saben cómo abordar.
            </p>
            <p>
                Si conseguimos hacer la vida de un alumno incluso un poco más fácil, la página cumple su función.
            </p>
            <p>
                Ah, sí, y también aprobar Desarrollo de Software. Ese también es el objetivo.
            </p>
        </div>
    </div>
</body>
</html>

