<div class="publicado-container">
  <div *ngFor="let apunte of paginatedApuntes">
    <mat-card class="publicado-card" (click)="verDetalles(apunte.id_apunte)">
      <mat-card-header>
        <mat-card-title>{{ apunte.titulo_apunte }}</mat-card-title>
        <mat-card-subtitle class="calificacion">
          Calificación: {{ apunte.calificacion_apunte || 'Sin calificación' }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          <img 
            mat-card-image 
            [src]="apunte.archivo_caratula" 
            alt="{{ apunte.titulo_apunte }}" 
            class="card-image" 
            (error)="apunte.archivo_caratula = defaultImage" 
          />
          <div class="card-details">
            <p>{{ apunte.descripcion_apunte || 'Sin descripción disponible' }}</p>
            <p>Fecha de Publicación: <strong>{{ apunte.fecha_hora_publicacion | date:'longDate' }}</strong></p>
            <p class="precio-resaltado">Valor: $ <strong>{{ apunte.precio }}</strong></p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="pagination-controls">
  <button mat-button class="ml-button" (click)="changePage(currentPage - 1)" 
          [disabled]="currentPage === 1">Anterior</button>
  <button mat-button class="ml-button" (click)="changePage(currentPage + 1)" 
          [disabled]="currentPage === totalPages">Siguiente</button>
</div>

<div class="publicar-container">
  <button mat-raised-button class="publicar-button" (click)="irACargarApunte()">Publicar Apunte</button>
</div>
